<div class="row-fluid game-finished-row">
    <!-- Button to trigger modal -->
    <!--<a href="#myModal" role="button" class="btn" data-toggle="modal">Begin</a>-->

    <!-- Modal -->
    <div id="all-play-modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
            <h3 id="myModalLabel">Identify All 44 US Presidents</h3>
        </div>
        <div class="">

            <img class="all-forty-four-presidents" src="images/44presidents.png" alt="Meet All 44 Presidents at Madame Tussauds D.C. Presidents Gallery" longdesc="http://dcpresidentsgallery.com" valign="middle">
            <!--<img class="all-forty-four-presidents" width="772 height="500 src="images/44presidents.png" />-->
        </div>
        <div class="modal-footer">
            <input type="text" id="all-play-name" name="t" value="" placeholder="Your Name Goes Here"></span>
            <button class="btn btn-primary start-new-all-play-game">Begin</button>
        </div>
    </div>
</div>