<div class="span8">
    <div class="all-presidents">
        <img class="all-forty-four-presidents" src="images/44presidents.png" alt="Meet All 44 Presidents at Madame Tussauds D.C. Presidents Gallery" "width="772" height="500" longdesc="http://dcpresidentsgallery.com" valign="middle">
    </div>
</div>
