        <span>
        <button type="submit" class="btn btn-wide btn-info" data-toggle="collapse" data-target="#demo" >
            Chat
        </button>
        </span>
        <span>
         <input type="text" placeholder="Type something ..." style="margin-top:10px;" >
        </span>
    <button type="button" class="btn btn-link btn-info" data-toggle="collapse" data-target="#demo" >
        show & hide messages
    </button>
    <div id="demo" class="collapse in">
        <div></div>
        <div> text </div>
        <div> text </div>
        <div> text </div>
        <div> text </div>
        <div> text </div>
        <div> text </div>
        <div> text </div>
        <div> text </div>
    </div>
