<div>
    <div id="play" class="span4">
        <!--<div id="president-name">Click Thomas Jefferson's Photo</div>-->
        <!--<div id="randimg1"></div>-->
        <!--<span id="try-another-president" class="btn btn-success">Next</span>-->
        <div id="enter-presidents-name" class="label-important">Enter the President's Name Below</div>
        <div><img id="current-president-image" src="" data-president=""/></div>
        <div id="waytogo-label"  class="label-success">Congratulations !!!</div>
        <!--<div id="selectImageBelow" class="label-important">Select Image Below</div>-->
        <span><button type="submit" id="submit-president-name" class="btn">Submit</button></span>
        <span><input type="text" id="input-president-name" name="t" value="" placeholder="Full Name Of President"></span>
        <div id="try-another-president" class="btn btn-large btn-inverse">Go to Next President</div>
    </div>
</div>
