<div class="row row-fluid" style="margin-top:20px;margin-bottom:200px">
    <!--<div id="container2">-->
    <span class="label-info">&mdash;OR&mdash;</span>
    <div id="selectImageBelow" class="label-important">Select Image Below</div>
    <div id="image-selection-banner"></div>

    <!--</div>-->
</div>