<div class="row-fluid results">
    <div class="span4">
        <!--<div id="try-another-president" class="btn btn-large btn-inverse span4">Next President</div>-->
        <div class="label-info">&mdash;OR&mdash;</div>
    </div>
    <div id="image-found-banner" class="span8">
    </div>

</div>
