<div class="row-fluid">
    <div class="score-container">
        <div id="score-banner">
            <div class="image-box red"><img src="images/1_GeorgeWashington.jpg"/></div>
            <div class="image-box green">Tom - 15 points</div>
            <div class="image-box blue">Jill - 22 points</div>
            <div class="image-box yellow">Bob - 18 pts</div>
            <div class="image-box purple">Mary - 10 pts</div>
            <div class="image-box purple">Mary - 10 pts</div>
            <div class="image-box cyan"> Tony - 2 pts</div>
        </div>
    </div>
</div>