<div class="navbar navbar-static-top">
    <div class="navbar-inner">
        <a class="brand navbar-inverse" href="#">Meet All 44 Presidents</a>
        <ul class="nav">
            <li class="divider-vertical"></li>
            <li class="active"><a href="/">Individual Play</a></li>
            <li><a href="/all-play">All Play</a></li>
            <li><a href="/team1">Join Team #1</a></li>
            <li><a href="/team2">Join Team #2</a></li>
            <li><a class="new-game" href="#">New Game</a></li>
            <div class="navbar-form pull-left">
                <input type="text" class="span2">
                <button id="sign-in" type="submit" class="btn">SignIn</button>
            </div>
        </ul>
    </div>
</div>