
.all-presidents {
    /*margin: 20px;*/
    /*max-height: 400px;*/
    /*height:460px;*/
    position: relative;

}

.all-presidents img {
    top:0px;
    left:0px;
    z-index:0;
    max-height:400px;
    position:absolute;
}

div.results {
    position:relative;
}

#waytogo {
    /*position: absolute;*/
    /*top: 368px;*/
    top:0px;
    left: 311px;
    /*height:180px;*/
    /*width:280px;*/
    /*z-index: 10;*/
    /*background-image:url('../images/bushwink.jpg');*/
}

#play {
    /*position: absolute;*/
    top: 0px;
    left: 250px;
    /*height: 500px;*/
}

#play .label-info {
    margin-top:20px;
    margin-bottom: 20px;
}

#tryAgain {
    /*position: absolute;*/
    /*top: 368px;*/
    left: 286px;
    /*height:250px;*/
    /*width:200px;*/
    /*z-index: 10;*/
    /*background-image:url('../images/georgewashingtonwink.jpg');*/
}


/*#waytogo3 {*/
    /*position: absolute;*/
    /*top: 150px;*/
    /*left: 296px;*/
    /*height:180px;*/
    /*width:180px;*/
    /*z-index: 10;*/
    /*background-image:url('../images/obamathumbsup.jpg');*/
/*}*/

body {
    padding: 0;
    text-align: center;
}
.container {
    width:100%;
}

#image-found-banner, #image-selection-banner {
    width: 100%;
    /*padding-bottom: 0px;*/
    /*border: 1px solid #bfbfbf;*/
    margin: 0 auto;
    position: relative;
    /*position: fixed;*/
}


#image-found-banner img {
    height: 75px;
    width: 75px;
    float:left;
}

#image-selection-banner img {
    height:150px;
    width:150px;
}

#window, #window2 {
    width: 400px;
    height: 150px;
    /*padding: 10px;*/
    /*border: 3px solid #666;*/
    margin: 0 auto;
}

.box, .box2, .image-box {
    /*height: 150px;*/
    /*width: 150px;*/
    /*border: 1px solid #666666;*/
    /*position: absolute;*/
    /*z-index: -1;*/
    float:left;
}

#try-another-president {
    /*margin: 50%;*/
}

.red { background-color: #ff6868;}
.green { background-color: #7cd980;}
.blue { background-color: #5793ea;}
.yellow { background-color: #f9f69e;}
.purple { background-color: #ffbffc;}
.cyan { background-color: #bff3ff;}

#submit-president-name, #input-president-name {
    margin:10px;
}

#image-selection-banner div.scrollableArea *
{
    position: relative;
    display: block;
    float: left;
    margin: 0;
    padding: 0;
    /*min-width:8000px;*/
    /* If you don't want the images in the scroller to be selectable, try the following
        block of code. It's just a nice feature that prevent the images from
        accidentally becoming selected/inverted when the user interacts with the scroller. */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -o-user-select: none;
    user-select: none;
}

#image-selection-banner div.scrollableArea
{
    width:6600px;
    margin-left:161px;
}

#selectImageBelow {
    font-size: 18px;
    padding: 10px;
}

#current-president-image {
    height:255px;
}

.all-presidents .badge {
    position:absolute;
    visibility: hidden;
    z-index: 11;
}

.all-presidents .badge.found {
    visibility: visible;
}

.all-presidents .badge:hover,
.all-presidents .badge.hover_effect{
    rule:properties;
}

.hover {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
}

#George_Washington_badge_1 {top:251px; left:60px;}
#John_Adams_badge_2 {top:281px; left:150px;}
#Thomas_Jefferson_badge_3 {top:220px; left:225px;}
#James_Maddison_badge_4 {top:225px; left:275px;}
#James_Monroe_badge_5 {top:220px; left:325px;}
#John_Quincy_Adams_badge_6 {top:265px; left:385px;}
#Andrew_Jackson_badge_7 {top:220px; left:420px;}
#Martin_Van_Buren_badge_8 {top:235px; left:480px;}
#William_Henry_Harrison_badge_9 {top:220px; left:520px;}
#John_Tyler_badge_10 {top:231px; left:570px;}
#James_K_Polk_badge_11 {top:165px; left:90px;}
#Zachary_Taylor_badge_12 {top:165px; left:130px;}
#Millard_Fillmore_badge_13 {top:165px; left:175px;}
#Franklin_Pierce_badge_14 {top:165px; left:220px;}
#James_Buchanan_badge_15 {top:165px; left:260px;}
#Abraham_Lincoln_badge_16 {top:180px; left:300px;}
#Andrew_Johnson_badge_17 {top:180px; left:355px;}
#Ulysses_S_Grant_badge_18 {top:165px; left:390px;}
#Rutherford_Hayes_badge_19 {top:165px; left:440px;}
#James_Garfield_badge_20 {top:165px; left:480px;}
#Chester_Aurthur_badge_21 {top:165px; left:525px;}
#Grover_Cleveland_badge_22 {top:95px; left:100px;}
#Benjamin_Harrison_badge_23 {top:100px; left:145px;}
#Grover_Cleveland_badge_24 {top:115px; left:100px;}
#William_Mckinley_badge_25 {top:95px; left:200px;}
#Theodore_Roosevelt_badge_26 {top:95px; left:245px;}
#William_Howard_Taft_badge_27 {top:95px; left:290px;}
#Woodrow_Wilson_badge_28 {top:90px; left:335px;}
#Warren_G_Harding_badge_29 {top:90px; left:375px;}
#Calvin_Coolidge_badge_30 {top:115px; left:417px;}
#Herbert_Hoover_badge_31 {top:95px; left:443px;}
#Franklin_D_Roosevelt_badge_32 {top:100px; left:490px;}
#Harry_S_Truman_badge_33 {top:90px; left:522px;}
#Dwight_D_Eisenhower_badge_34 {top:35px; left:95px;}
#John_F_Kennedy_badge_35 {top:26px; left:145px;}
#Lyndon_B_Johnson_badge_36 {top:26px; left:190px;}
#Richard_Nixon_badge_37 {top:26px; left:230px;}
#Gerald_Ford_badge_38 {top:26px; left:265px;}
#Jimmy_Carter_badge_39 {top:26px; left:305px;}
#Ronald_Reagan_badge_40 {top:26px; left:345px;}
#George_Bush_badge_41 {top:26px; left:390px;}
#Bill_Clinton_badge_42 {top:26px; left:425px;}
#George_W_Bush_badge_43 {top:26px; left:470px;}
#Barack_Obama_badge_44 {top:26px; left:513px;}
